<h2>Agregar una nueva jugadora</h2>

<form action="/crear-jugadora" method="POST">

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre">

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido">

  <br />

  <label for="nacionalidad">Nacionalidad:</label>
  <input type="text" id="nacionalidad" name="nacionalidad">

  <label for="ranking">Ranking:</label>
  <input type="text" id="ranking" name="ranking">

  <input type="submit" value="Crear"></input>

</form>
